html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
html,
body {
  min-width: 750px;
  min-height: 400px;
}
ul,
li {
  list-style: none;
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner {
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #cdcdcd;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #f6f6f6;
}

/* 布局 */
.content {
  margin: 0 auto;
  min-width: 710px;
  max-width: 960px;
}
.header {
  padding: 0 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 60px;
  .content {
    position: relative;
    #title {
      position: absolute;
      top: 14px;
      left: 0;
      font-weight: normal;
    }
    .right {
      position: absolute;
      top: 20px;
      right: 0;
      .btn {
        margin-left: 10px;
        font-size: 14px;
        cursor: pointer;
      }
      .btn:hover {
        margin-left: 10px;
        text-decoration: underline;
      }
    }
  }
}
.main {
  padding: 20px;
}

/* 标签列表 */
#tab-list {
  li {
    position: relative;
    height: 30px;
    // 删除按钮
    .btn {
      position: absolute;
      top: 7px;
      left: 10px;
      display: block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
    }
    // 标签图标
    .icon {
      position: absolute;
      top: 6px;
      left: 36px;
      display: block;
      width: 18px;
      height: 18px;
      background-size: 18px 18px;
    }
    .icon.iconfont {
      line-height: 18px;
      font-size: 18px;
    }
    // 标签标题
    .title {
      position: absolute;
      top: 7px;
      left: 64px;
      right: 10px;
      display: block;
      height: 16px;
      line-height: 16px;
      font-size: 14px;
      text-decoration: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .title:hover {
      text-decoration: underline;
    }
  }
  // 标签删除状态
  li.removed {
    // 标签图标
    .icon {
      opacity: 0.4;
    }
    // 标签标题
    .title {
      text-decoration: line-through;
      opacity: 0.4;
    }
  }
}

/* 浅色 */
.light {
  background-color: #ffffff;
  .header {
    border-bottom-color: #eeeeee;
    .content {
      #title {
        color: #000000;
      }
      .right {
        .btn {
          color: #0000ee;
        }
        .btn:hover {
          color: #0000ee;
        }
      }
    }
  }
  // 标签列表
  #tab-list {
    li {
      // 删除按钮
      .btn {
        color: #999999;
      }
      .btn:hover {
        color: #ffffff !important;
        background-color: #ff0000;
      }
      // 标签图标
      .icon {
        color: #000000;
      }
      // 标签标题
      .title {
        color: #000000;
      }
      .title:hover {
        color: #0066cc;
      }
    }
    // 标签鼠标悬停
    li:hover {
      background-color: #e7f5ff;
      // 删除按钮
      .btn {
        color: #666666;
      }
    }
  }
}

/* 深色 */
.dark {
  background-color: #181a1b;
  .header {
    border-bottom-color: #575757;
    .content {
      #title {
        color: #cbc7bf;
      }
      .right {
        .btn {
          color: #76aad4;
        }
        .btn:hover {
          color: #76aad4;
        }
      }
    }
  }
  // 标签列表
  #tab-list {
    li {
      // 删除按钮
      .btn {
        color: #bdb8af;
      }
      .btn:hover {
        color: #ffffff !important;
        background-color: #ff0000;
      }
      // 标签图标
      .icon {
        color: #bdb8af;
      }
      // 标签标题
      .title {
        color: #bdb8af;
      }
      .title:hover {
        color: #76aad4;
      }
    }
    // 标签鼠标悬停
    li:hover {
      background-color: #2c2e2f;
      // 删除按钮
      .btn {
        color: #bdb8af;
      }
    }
  }
}
